@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

html,
body {
  font-family: "Pretendard-Regular";
  width: 100%;
  overflow-x: hidden;
}

.logo-font {
  font-family: "Playfair Display", serif;
}

.menu-moving {
  animation: menumoving 0.3s linear forwards;
}

@keyframes menumoving {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
